<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Hi {{username}}</h1>
        <p> Please use the following code to reset your password</p>
        <p> <b>Code: </b> {{code}}</p>
        <hr />
        <p>This email may contain sensitive information</p>
        <p>{{siteAdress}}</p>

    </body>
</html>